# autorisation par mot de passe
AuthType Digest
AuthName AccesReserve
AuthBasicProvider file
AuthUserFile /volume1/web/azrael/htdigest.pw
Require valid-user 

# autorisation de listing des dossiers
Options +Indexes

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index.php$ http://azrael.sha.univ-poitiers.fr/~qmarolle/yip [R=301,L]