/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************************/

/*FONTS*/
@font-face{
	font-family: "Minecraft";
	src: url(fonts/Minecraft.ttf);
}

@font-face{
	font-family: "VT323";
	src: url(fonts/VT323-Regular.ttf);
}

/*COULEURS*/

.couleur-0{
  color: var(--color-0);
}

.couleur-1{
  color: var(--color-1);
}

.couleur-2{
  color: var(--color-2);
}

.couleur-3{
  color: var(--color-3);
}

.couleur-4{
  color: var(--color-4);
}

.couleur-5{
  color: var(--color-5);
}

.couleur-6{
  color: var(--color-6);
}

/*HUMEURS*/

.couleur-humeur-0{
	background-color: var(--color-0);
  }
  
  .couleur-humeur-1{
	background-color: var(--color-1);
  }
  
  .couleur-humeur-2{
	background-color: var(--color-2);
  }
  
  .couleur-humeur-3{
	background-color: var(--color-3);
  }
  
  .couleur-humeur-4{
	background-color: var(--color-4);
  }
  
  .couleur-humeur-5{
	background-color: var(--color-5);
  }
  
  .couleur-humeur-6{
	background-color: var(--color-6);
  }

.carre-couleur-humeur{
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}


/**/

html{
	height: 100%;
}

a, a:visited{
	color: #333333;
	text-decoration: none;
}

/*CORPS DE PAGE*/ /*Mobile First*/
body{
	min-height: 100%;
	background-color: var(--color-background);
	color: #333333;
	font-family: VT323, 	sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header"
						 "main"
						 "footer";
}
/*HEADER*/
.header-principal{
	grid-area: header;
	height: 100px;
}

h1{
	font-family: Minecraft;
	font-size: 2.5em;
	max-width: 500px;
	margin: 20px auto;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
}

h1 a{
	display: block;
	width: 100%;
	height: 100%;
}

.infos-utilisateur{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1000;
}

.infos-utilisateur img{
	width: 50px;
	height: 50px;
	padding: 5px;
	margin: 10px;
	float: right;
	border: 3px solid;
  	border-image: conic-gradient(var(--color-1), var(--color-2), var(--color-3), var(--color-4), var(--color-5), var(--color-6)) 1;	
	
}

.infos-utilisateur img:hover{
	animation: rotationimage 1s linear;
}

.menu-utilisateur{
	clear: both;
	text-align: right;
	padding: 10px;
	background-color: var(--color-0);
	width: 100vw;
	height: 85vh;
}

/*FOOTER*/

footer{
	grid-area: footer;
	width: 100%;
	height: 50px;
	text-align: center;
}

/* Formulaires */

form{
	width: 300px;
	margin: auto;
}

/*MAIN*/
main{
	grid-area: main;
}
	/*Header du main*/
.header-main{
	margin-bottom: 30px;
}

.header-main h2{
	margin-left: 10px;
	font-size: 1.7em;
}

.header-main h2:hover{
	cursor: pointer;
}

	/*Calendrier*/
.calendrier{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "numero-jours nom-mois-annee"
						 "numero-jours liste-jours";
}

.calendrier > ul > li{
	list-style-type: none;
	border:solid;
	border-width: 1px;
	border-color:black;
	text-align:center;
	line-height: 3vh;
	position:relative;
}

.calendrier ul{
	margin: 0;
	padding: 0;
}

/*Entete du calendrier qui varie en fonction de l'affichage mois-année*/

#nom-jours{
	grid-area: nom-mois-annee;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

#nom-mois{
	grid-area: nom-mois-annee;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

/*Liste des jours que l'on affiche en mode année et non en mode mois*/

#numero-jours{
	grid-area: numero-jours;
}

/*Case du calendrier*/

#liste-jours{
	grid-area: liste-jours;
	display: grid;
}

#liste-jours.mois{
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

#liste-jours.mois >li{
	height: 10vh;
}

#liste-jours.annee{
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(31, 1fr);
}

/*Essai triangle après chaque case*/
/*
#liste-jours li::after{
	content: "";
	position: relative;
	top: 10vh;
	left:100px;
	height : 0;
	width : 0;
	border-right : 15px solid transparent;
	border-bottom : 30px solid white;
	border-left : 15px solid transparent;
	display: none;
	z-index:100;
}

#liste-jours li:hover::after{
	display: block;
}

.modif-humeur li{
	line-height:3vh;
}

.modif-humeur div{
	display:grid;
	grid-column: 1 / span 1;
}

.modif-humeur p{
	display:inline-block;
	display:grid;
	grid-column: 2 / span 3;
}

#liste-jours li .modif-humeur{
	display:none;
	background-color:white;
	border:0;
	z-index:100;
}

#liste-jours li:hover .modif-humeur{
	min-width:150px;
	min-height:100px;
	position:absolute;
	top:calc(10vh + 30px);
	left:0%;
	display:block;
}

#liste-jours li:hover .modif-humeur li{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
*/

/*Cacher les parties que nous n'avons pas besoin*/

.hide{
	display: none !important; 
}

	/*Liste humeur*/
.humeur{
	width: 300px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.liste-humeur li{
	font-size: 1.7em;
	font-weight: bold;
}

/* Formulaire page connexion et insciption */

.formulaire-compte{
	max-width: 800px;
	margin: auto;
}

/* Modification humeurs*/

.modification-humeur{
	margin: 10px;
}

.humeur-a-modifiee{

}

.input-couleur{
	width: 30px;
	height: 30px;
}

/* Modification avatars */

.liste-avatars{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.liste-avatars img{
	width: 60px;
	height: 60px;
}

/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
	cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
	outline: 5px solid var(--color-1);
  }

/* Animations CSS*/

@keyframes rotationimage{
	0%{
		transform: rotate(0deg);
	}

	15%{
		transform: rotate(15deg);
	}

	30%{
		transform: rotate(0deg);
	}

	45%{
		transform: rotate(-15deg);
	}

	60%{
		transform: rotate(0deg);
	}

	75%{
		transform: rotate(15deg);
	}

	90%{
		transform: rotate(0deg);
	}
}

/* Media query pour le desktop */

@media screen and (min-width: 450px){
	h1{
		font-size: 3em;
		margin: 20px auto;
		text-align: center;
	}
	
}