/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************************/

/*FONTS*/
@font-face{
	font-family: "Minecraft";
	src: url(Minecraft.ttf);
}

/*COULEURS*/

:root{
	--color-0: #ffffff;
	--color-1: #FF9FBB;
	--color-2: #E1C4FF;
	--color-3: #8BF9D0;
	--color-4: #FF8181;
	--color-5: #FFC84A;
	--color-6: #98FFFF;
}

.couleur-0{
  color: var(--color-0);
}

.couleur-1{
  color: var(--color-1);
}

.couleur-2{
  color: var(--color-2);
}

.couleur-3{
  color: var(--color-3);
}

.couleur-4{
  color: var(--color-4);
}

.couleur-5{
  color: var(--color-5);
}

.couleur-6{
  color: var(--color-6);
}

/*HUMEURS*/

.couleur-humeur-0{
	background-color: var(--color-0);
  }
  
  .couleur-humeur-1{
	background-color: var(--color-1);
  }
  
  .couleur-humeur-2{
	background-color: var(--color-2);
  }
  
  .couleur-humeur-3{
	background-color: var(--color-3);
  }
  
  .couleur-humeur-4{
	background-color: var(--color-4);
  }
  
  .couleur-humeur-5{
	background-color: var(--color-5);
  }
  
  .couleur-humeur-6{
	background-color: var(--color-6);
  }

.carre-couleur-humeur{
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}


/**/

html{
	height: 100%;
}

/*CORPS DE PAGE*/ /*Mobile First*/
body{
	min-height: 100%;
	background-color: #FFFFFF;
	color: #333333;
	font-family: sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header"
						 "main"
						 "footer";
}
/*HEADER*/
.header-principal{
	grid-area: header;
	height: 100px;
}

h1{
	font-family: Minecraft;
	font-size: 3em;
	max-width: 500px;
	margin: 20px auto;
	text-align: center;
}
/*FOOTER*/

footer{
	grid-area: footer;
	width: 100%;
	height: 50px;
	text-align: center;
}

/*MAIN*/
main{
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "header-main"
						 "calendrier"
						 "humeur";
}
	/*Header du main*/
.header-main{
	grid-area: header-main;
	margin-bottom: 100px;
}

	/*Calendrier*/
.calendrier{
	grid-area: calendrier;
}
	/*Liste humeur*/
.humeur{
	grid-area: humeur;
	min-width: 300px;
	margin: auto;
	margin-top: 400px;
}

.liste-humeur li{
	font-size: 1.7em;
	font-weight: bold;
}

/* Burger Menu*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 
 a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: tomato;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			   background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			   opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 /*Grille générale*/

.grille_principale {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
	"sidebar header"
    "sidebar jours";
}

.grille_principale li{
	list-style-type: none;
	border:solid;
	border-width: 1px;
	border-color:black;
	line-height:10vh;
	text-align:center;
}

.grille_principale ul{
	margin:0;
	padding:0;
	height:10vh;
}

/*Grille Header*/

.grille_principale ul:first-child{
	grid-area: header;
	display:grid;
	grid-template-columns: repeat(7, 1fr) ;
	
}

.grille_principale ul:nth-child(2){
	grid-area: header;
	display:grid;
	grid-template-columns: repeat(12, 1fr) ;
	display:none;
}

.grille_principale ul:first-child li{
	background-color: #EEEEEE;
}

/*Grille Sidebar*/

.grille_principale ul:nth-child(3){
	grid-area: sidebar;
	min-width: 50px;
	display:none;
}

/*Grille Calendrier*/

.grille_principale ul:nth-child(4){
	display: grid;
	grid-area: jours;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(10, auto);
}

.grille_principale ul:nth-child(4) li{
	height: 10vh;
}