/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************************/

/*FONTS*/
@font-face{
	font-family: "Minecraft";
	src: url(fonts/Minecraft.ttf);
}

@font-face{
	font-family: "VT323";
	src: url(fonts/VT323-Regular.ttf);
}

/*COULEURS*/

.couleur-0{
  color: var(--color-0);
}

.couleur-1{
  color: var(--color-1);
}

.couleur-2{
  color: var(--color-2);
}

.couleur-3{
  color: var(--color-3);
}

.couleur-4{
  color: var(--color-4);
}

.couleur-5{
  color: var(--color-5);
}

.couleur-6{
  color: var(--color-6);
}

/*HUMEURS*/

.couleur-humeur-0{
	background-color: var(--color-0);
  }
  
  .couleur-humeur-1{
	background-color: var(--color-1);
  }
  
  .couleur-humeur-2{
	background-color: var(--color-2);
  }
  
  .couleur-humeur-3{
	background-color: var(--color-3);
  }
  
  .couleur-humeur-4{
	background-color: var(--color-4);
  }
  
  .couleur-humeur-5{
	background-color: var(--color-5);
  }
  
  .couleur-humeur-6{
	background-color: var(--color-6);
  }

.carre-couleur-humeur{
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}


/**/

html{
	height: 100%;
}

/*CORPS DE PAGE*/ /*Mobile First*/
body{
	min-height: 100%;
	background-color: var(--color-background);
	color: #333333;
	font-family: VT323, 	sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header"
						 "main"
						 "footer";
}
/*HEADER*/
.header-principal{
	grid-area: header;
	height: 100px;
}

h1{
	font-family: Minecraft;
	font-size: 3em;
	max-width: 500px;
	margin: 20px auto;
	text-align: center;
}
/*FOOTER*/

footer{
	grid-area: footer;
	width: 100%;
	height: 50px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

/*MAIN*/
main{
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "header-main"
						 "calendrier"
						 "humeur";
}
	/*Header du main*/
.header-main{
	grid-area: header-main;
	margin-bottom: 30px;
}

.header-main h2{
	margin-left: 10px;
	font-size: 1.7em;
}

.header-main h2:hover{
	cursor: pointer;
}

	/*Calendrier*/
.calendrier{
	background-color: black;
	grid-area: calendrier;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "numero-jours nom-mois-annee"
						 "numero-jours liste-jours";
}

.calendrier > ul > li{
	list-style-type: none;
	border:solid;
	border-width: 1px;
	border-color:black;
	text-align:center;
	line-height: 10vh;
	position:relative;
}

.calendrier ul{
	margin: 0;
	padding: 0;
}

/*Entete du calendrier qui varie en fonction de l'affichage mois-année*/

#nom-jours{
	background-color: red;
	grid-area: nom-mois-annee;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

#nom-mois{
	background-color: blue;
	grid-area: nom-mois-annee;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

/*Liste des jours que l'on affiche en mode année et non en mode mois*/

#numero-jours{
	background-color: green;
	grid-area: numero-jours;
}

/*Case du calendrier*/

#liste-jours{
	background-color: yellow;
	grid-area: liste-jours;
	display: grid;
}

#liste-jours.mois{
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

#liste-jours.mois >li{
	height: 10vh;
}

#liste-jours.annee{
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(31, 1fr);
}

/*Essai triangle après chaque case*/

#liste-jours li::after{
	content: "";
	position: relative;
	top: 10vh;
	left:100px;
	height : 0;
	width : 0;
	border-right : 15px solid transparent;
	border-bottom : 30px solid white;
	border-left : 15px solid transparent;
	display: none;
	z-index:100;
}

#liste-jours li:hover::after{
	display: block;
}

.modif-humeur li{
	line-height:3vh;
}

.modif-humeur div{
	display:grid;
	grid-column: 1 / span 1;
}

.modif-humeur p{
	display:inline-block;
	display:grid;
	grid-column: 2 / span 3;
}

#liste-jours li .modif-humeur{
	display:none;
	background-color:white;
	border:0;
	z-index:100;
}

#liste-jours li:hover .modif-humeur{
	min-width:150px;
	min-height:100px;
	position:absolute;
	top:calc(10vh + 30px);
	left:0%;
	display:block;
}

#liste-jours li:hover .modif-humeur li{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*Cacher les parties que nous n'avons pas besoin*/

.hide{
	display: none !important; 
}

	/*Liste humeur*/
.humeur{
	grid-area: humeur;
	min-width: 300px;
	margin: auto;
}

.liste-humeur li{
	font-size: 1.7em;
	font-weight: bold;
}


/*carré pixel animé footer*/
.container-pixel{
	background-color: black;
	width: 100px;
	height: 100px;
}

.pixel{
    width: 10px;
    height: 10px;
    background-color: white;
    position: relative;
    animation: 5s colorchange infinite alternate;
}

.pixel:nth-child(1){
    left: 30px;
    top: 80px;
}

.pixel:nth-child(2){
    left: 40px;
    top: 50px;
}

.pixel:nth-child(3){
    left: 60px;
    top: 30px;
}

.pixel:nth-child(4){
    left: 70px;
    top: 30px;
}

.pixel:nth-child(5){
    left: 60px;
    top: 30px;
}

.pixel:nth-child(6){
    left: 80px;
    top: 0px;
}

.pixel:nth-child(7){
    left: 90px;
    top: -20px;
}

.pixel:nth-child(8){
    left: 50px;
    top: 20px;
}

.pixel:nth-child(9){
    left: 90px;
    top: -20px;
}

.pixel:nth-child(10){
    left: 80px;
    top: -10px;
}

.pixel:nth-child(11){
    left: 90px;
    top: -30px;
}

.pixel:nth-child(12){
    left: 90px;
    top: -30px;
}

.pixel:nth-child(13){
    left: 70px;
    top: -30px;
}

.pixel:nth-child(14){
    left: 80px;
    top: -40px; 
}

.pixel:nth-child(15){
    left: 90px;
    top: -50px;
}

@keyframes colorchange{
    0%{
        background-color: var(--color-1);
    }

    18%{
        background-color: var(--color-2);
    }

    36%{
        background-color: var(--color-3);
    }

    54%{
        background-color: var(--color-4);
    }

    72%{
        background-color: var(--color-5);
    }

    90%{
        background-color: var(--color-6);
    }
}