body{
	margin:0;
}

/*Grille générale*/

.grille_principale {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
	"sidebar header"
    "sidebar jours";
}

.grille_principale li{
	list-style-type: none;
	border:solid;
	border-width: 1px;
	border-color:black;
	line-height:10vh;
	text-align:center;
}

.grille_principale ul{
	margin:0;
	padding:0;
	height:10vh;
}

/*Grille Header*/

.grille_principale ul:first-child{
	grid-area: header;
	display:grid;
	grid-template-columns: repeat(7, 1fr) ;
	
}

.grille_principale ul:nth-child(2){
	grid-area: header;
	display:grid;
	grid-template-columns: repeat(12, 1fr) ;
	display:none;
}

.grille_principale ul:first-child li{
	background-color: #EEEEEE;
}

/*Grille Sidebar*/

.grille_principale ul:nth-child(3){
	grid-area: sidebar;
	min-width: 50px;
	display:none;
}

/*Grille Calendrier*/

.grille_principale ul:nth-child(4){
	display: grid;
	grid-area: jours;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(10, 10vh);
}