body{
  background: black;
  color: white;
  text-align: center;
}

table{
  border-collapse: collapse;
  width: auto;
  margin: auto;
}

table .case{
  padding: 5px;
  width: 20px;
  height: 20px;
}

.color_0{
  background-color: white;
  border: solid 1px black;
}

.color_1{
  background-color: darkgreen;
  border: solid 1px black;
}

.color_2{
  background-color: lime;
  border: solid 1px black;
}

.color_3{
  background-color: blue;
  border: solid 1px black;
}

.color_4{
  background-color: yellow;
  border: solid 1px black;
}

.color_5{
  background-color: orange;
  border: solid 1px black;
}

.color_6{
  background-color: red;
  border: solid 1px black;
}
